<!DOCTYPE html>
<html>
<head>
  <title>Admin Login</title>
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body class="admin-body">

<div class="admin-login">
  <div class="login-card">
    <h1>Admin Login</h1>

    <form method="POST" action="/admin/login">
      <label>Username</label>
      <input type="text" name="username" required>

      <label>Password</label>
      <input type="password" name="password" required>

      <button class="btn">Login</button>
    </form>
  </div>
</div>

</body>
</html>
