<header class="header">
    <div class="container nav">
        <div class="logo">
            <a href="/" class="logo-link">
                <img src="/images/unnamed.jpg" alt="Logo">
            </a>
        </div>




        <nav class="nav-links">
            <a href="/">Home</a>
            <a href="/portfolio">Portfolio</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/quote" class="btn-small">Get Quote</a>
        </nav>
    </div>
</header>